@page "/pos/shipping/{LineId}"
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@using iwip.Blazor.Components
@using iwip.Localization
@using Microsoft.Extensions.Localization
@inherits iwipComponentBase

<div class="content">
    @if (Shipping == null)
    {
        <SfSpinner Visible="@loading" Type="@SpinnerType.Bootstrap4" Size="100" Label="@L["Gen:DataLoading"]">
        </SfSpinner>
    }
    else
    {
        <div class="card p-3 px-4">
            <div class="pb-3">
                <Header Title="Shipment Management" Desciription="@(L["PO:Number"] + Shipping.PO_HEADER_ID + L["PO:LineNumber"] + LineId)"></Header>
            </div>

            <Div Class="row">
                <form class="col-sm-9">
                    <fieldset class="form-group ">
                        <div class="row">
                            <legend class="col-form-label col-sm-3 pt-0">@L["Shipping:Method1"]</legend>
                            <div class="col-sm-8">
                                @{
                                    foreach (var method in ShippingMethods_1)
                                    {
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="shipping_method1" id="@method" value="@method" checked=@(method == SelectedShippingMethod_1)>
                                            <label class="form-check-label" for="@method">
                                                @method
                                            </label>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group ">
                        <div class="row">
                            <legend class="col-form-label col-sm-3 pt-0">@L["Shipping:Method2"]</legend>
                            <div class="col-sm-8">
                                @{
                                    foreach (var method in ShippingMethods_2)
                                    {
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="shipping_method2" id="@method" value="@method" checked=@(method == SelectedShippingMethod_2)>
                                            <label class="form-check-label" for="@method">
                                                @method
                                            </label>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </fieldset>
                    <div class="row col-sm-10">
                        <div class="form-group col">
                            <label for="SHIP_TO_LOCATION" class="col-sm-4 col-form-label">@L["Shipping:Location"]</label>
                            <div class="col">
                                <input type="text" class="form-control" id="SHIP_TO_LOCATION" value="@Shipping.SHIP_TO_LOCATION">
                            </div>
                        </div>
                        <div class="form-group col">
                            <label for="LINE_LOCATION_ID" class="col-sm-4 col-form-label">@L["Shipping:LocationID"]</label>
                            <div class="col">
                                <input type="text" class="form-control" id="LINE_LOCATION_ID" value="@Shipping.LINE_LOCATION_ID">
                            </div>
                        </div>
                    </div>
                    <div class="row col-sm-10">
                        <div class="form-group col">
                            <label for="SHIP_TO_SITE_REGION" class="col-sm-6 col-form-label">@L["Shipping:SiteRegion"]</label>
                            <div class="col">
                                <input type="text" class="form-control" id="SHIP_TO_SITE_REGION" value="@Shipping.SHIP_TO_SITE_REGION">
                            </div>
                        </div>
                        <div class="form-group col">
                            <label for="SHIP_TO_SITE_DESCRIPTION" class="col-sm-4 col-form-label">@L["Shipping:SiteDescription"]</label>
                            <div class="col">
                                <input type="text" class="form-control" id="SHIP_TO_SITE_DESCRIPTION" value="@Shipping.SHIP_TO_SITE_DESCRIPTION">
                            </div>
                        </div>
                    </div>
                    <div class="row col-sm-10">
                        <div class="form-group col">
                            <label for="TELEPHONE_NUMBER_1" class="col-sm-4 col-form-label">@L["Shipping:Phone"]</label>
                            <div class="col">
                                <input type="text" class="form-control" id="TELEPHONE_NUMBER_1" value="@Shipping.TELEPHONE_NUMBER_1">
                            </div>
                        </div>
                        <div class="form-group col">
                            <label for="TIMEZONE_CODE" class="col-sm-4 col-form-label">@L["Shipping:TimeZone"]</label>
                            <div class="col">
                                <input type="text" class="form-control" id="TIMEZONE_CODE" value="@Shipping.TIMEZONE_CODE">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <label for="ADDRESS_LINE" class="col-sm-4 col-form-label">@L["Shipping:Address"]</label>
                        <div class="col">
                            <textarea class="form-control" id="ADDRESS_LINE" rows="6">
                                @string.Format("{0}\n{1}\n{2}\n{3}\n{4}, {5}\n{6}\n{7}", Shipping.ADDRESS_LINE_1, Shipping.ADDRESS_LINE_2, Shipping.ADDRESS_LINE_3, 
                            Shipping.TOWN_OR_CITY, Shipping.COUNTRY, Shipping.POSTAL_CODE, Shipping.REGION_1, Shipping.REGION_2)
                                                                                                                                        </textarea>
                        </div>
                    </div>
                    <div class="row input-group">
                        <div class="form-group col-sm-5">
                            <label for="NEED_BY_DATE" class="col-sm-4 col-form-label">@L["Shipping:NeededByDate"]</label>
                            <div class="col">
                                <input type="text" class="form-control" id="NEED_BY_DATE" value="@Shipping.NEED_BY_DATE?.ToString("d")">
                            </div>
                        </div>
                        <div class="form-group col-sm-5">
                            <label for="PROMISED_DATE" class="col-sm-4 col-form-label">@L["Shipping:PromisedDate"]</label>
                            <div class="col">
                                <input type="text" class="form-control" id="PROMISED_DATE" value="@Shipping.PROMISED_DATE?.ToString("d")">
                            </div>
                        </div>
                    </div>
                </form>

                <!-- Attachments -->
                <div Class="col-sm-3 ">
                    <h4>@L["Shipping:ShippingDocuments"]</h4>

                    <SfUploader AutoUpload="false">
                        <UploaderEvents ValueChange="UploadShippmentDocument" OnRemove="RemoveShipmentDocument"></UploaderEvents>
                    </SfUploader>
                    <br />
                    <Div Class="border-left border-info">
                        <div class="row">
                            @foreach (var doc in Shipping.SHIPPING_DOCUMENTS)
                            {
                                <div class="thumbnail col-sm-6">
                                    <Thumbnail Document="@doc"
                                       OnRemoveShipmentDocument="RemoveShipmentDocument" />
                                </div>
                            }
                        </div>
                    </Div>
                </div>
            </Div>

        </div>
    }
</div>

@code {

    List<string> ShippingMethods_1 = new List<string> { "OCEAN", "LAND", "COURIER", "AIR", "RAIL" };
    List<string> ShippingMethods_2 = new List<string> { "FCL", "LCL or CFS" };

    public String SelectedShippingMethod_1 { get; set; } = "OCEAN";
    public String SelectedShippingMethod_2 { get; set; } = "LCL or CFS";

}
